div
  
  div.transactions-pane(data-hook="transactions")
  
  if pivot
    table.pivot
      tr
        th
        for month in pivot.months
          th #{h.month(month)}
      for category in pivot.categories
        tr
          td.pivot-category #{category}
          for month in pivot.months
            td.pivot-cell(data-hook="pivot-cell", data-month="#{month}" data-category="#{category}") 
              | #{h.dollars(((pivot.data[month]||{})[category]||{}).sum || 0 )}