div
  if this.transactions
    table
      tr
        th Date
        th Description
        th Amount
        th Account
      for tr in this.transactions.data
        tr
          td #{this.h.date(tr.Date)}
          td
            | #{tr.Description}
            div.quiet #{tr['Original Description']}
          td #{tr.Amount}
          td #{tr['Account Name']}